







/* About Me */
.personal-picture{
    height: 250px;
    width: 230px;
}












/* Contact Information */



.contact-picture{
    height: 40px;
    width: 160px;
}


/*Message Form*/
/*.message .message-form{*/
    /*margin-right: 95px;*/
/*}*/

/*.message-button{*/
    /*color: #fff;*/
    /*background-color: #0023A1;*/
    /*border-color: #0023A1;*/
/*}*/

/*.message-button:hover{*/
    /*color: black;*/
    /*background-color: #0023A1;*/
    /*border-color: #0023A1;*/
/*}*/